body::before {
  height: 60px;
  content: "";
  display: block;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/* .para {
  color: black;
  font-weight: bold;
} */

.col43 {
  background: linear-gradient(
    45deg,
    white,
    rgb(209, 209, 92),
    rgb(202, 61, 61),
    rgb(34, 21, 21)
  );
}

.col34 {
  background: linear-gradient(
    45deg,
    rgb(13, 15, 22),
    rgb(28, 28, 48),
    rgb(70, 70, 112),
    white
  );
}

.card {
  box-shadow: 4px 12px 12px rgba(0, 0, 0, 0.6);
}
